body {
  font-family: 'Edu TAS Beginner', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
